// About

section {
 padding: 0px 20px;
 color: rgb(118, 118, 118);
}

.about-title {
 margin-top: 50px;
 font-size: 50px;
 text-align: center;
 padding: 50px 0;
}

.about-info {
 font-size: 18px;
 text-align: center;
 line-height: 25px;
 word-spacing: 3px;
 margin-bottom: 50px;
}

.md-logo {
 width: 300px;
 height: 300px;
 text-align: center;
 object-fit: none;
}
