// Hamburger
@use './mixins' as *;

.btn-main-nav {
 @include flatten;
 padding: 0;
 list-style: none;
 border: none;
 background: none;
 margin-right: em(30);
 position: absolute;
 top: 0;
 right: 0;
 padding: 40px 30px;

 &:hover {
  cursor: pointer;
 }

 .line {
  width: 40px;
  height: 5px;
  background-color: rgb(233, 232, 232);
  display: block;
  margin: 8px auto;
  transition: all 0.3s ease-in-out;

  .show &:nth-child(2) {
   width: 0;
  }

  .show &:nth-child(1),
  .btn-main-nav.show .line:nth-child(3) {
   transition-delay: 0.3s;
  }

  .show &:nth-child(1) {
   transform: translateY(13px);
  }

  .show &:nth-child(3) {
   transform: translateY(-13px) rotate(90deg);
  }
 }

 .show & {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.6s;
  transform: rotate(45deg);
 }
}

.sr-only {
 position: absolute;
 width: 1px;
 height: 1px;
 padding: 0;
 overflow: hidden;
 clip: rect(0, 0, 0, 0);
 white-space: nowrap;
 clip-path: inset(50%);
 border: 0;
}

@media (min-width: 720px) {
 .btn-main-nav {
  display: none;
 }
}
