// Basic Styling settings

// Colors
$background-color: rgba(20, 20, 20, 0.8);
$blue: #3498db;
$purple: #ac3ad9;

// Type
$bodyFont: "Lato", sans-serif;
$headingFont: "Gotham-Rounded-Book", sans-serif;
$headingFontLight: "Gotham-Rounded-Light", sans-serif;

// Layout
$section-padding: em(16) em(20);
